

export DOMAIN="UIM"
export NM_ROOT="/opt/nimsoft"
export PATH="$NM_ROOT/bin:$PATH"

export HUBS="
#Name|Address|Security|Status|License|Version|IP|Communication Mode|Port|Domain|Robot
#hubname|/domain/hubname/hubrobotname/hub
"
